<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

<main>

    <h2>Catálogo de Productos</h2>
    
    <section class="contenedor-articulos">

    <% for ( let i = 0; i < arreglo.length; i++ ) { %>
        <a href="/views/productDetail"></a>
            <article>
                <div class="caja-articulo">
                    <h2> <%= arreglo[i].marca %> </h2>
                    <p> <%= arreglo[i].descuento %> </p>
                    <p> <%= arreglo[i].precio %> </p>
                </div>
            </article>
    <% } %>
    </section>
</main>

<!-- footer -->
<%- include("./partials/footer") %>

</body>
</html>