<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <script>
        document.title = 'Registrate | DrinkHouse'
    </script>
     <!-- header -->
     <%- include("./partials/header") %>
    <main>
        <div class="contenedor-register">
            <h1>Regístrate</h1>
            <h3>Completá con tus datos!</h3>
            <div>
                <form action="/views/registro" method="POST" enctype="multipart/form-data">
                    <label><b>Nombre:</b></label>
                    <input type="text" 
                    name="nombre" 
                    class= "<%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.nombre : null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %>
                        </div>
                    <% } %>
                
                    <label><b>Apellido:</b></label>
                    <input type="text" 
                    name="apellido" 
                    class= "<%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.apellido : null %>">
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="text-danger">
                            <%= errors.apellido.msg %>
                        </div>
                    <% } %>

                    <label><b>Email:</b></label>
                    <input type="text" 
                    name="email"
                    class= "<%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>

                    <label><b>Password:</b></label>
                    <input type="password" 
                    name="password"
                    class= "<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    
                    <label><b>Direccion:</b></label>
                    <input type="text" 
                    name="direccion"
                    class= "<%= locals.errors && errors.direccion ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.direccion : null %>">
                    <% if (locals.errors && errors.direccion) { %>
                        <div class="text-danger">
                            <%= errors.direccion.msg %>
                        </div>
                    <% } %>

                    <label><b>Telefono:</b></label>
                    <input type="text"
                    name="telefono"
                    class= "<%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.telefono : null %>">
                    <% if (locals.errors && errors.telefono) { %>
                        <div class="text-danger">
                            <%= errors.telefono.msg %>
                        </div>
                    <% } %>

                    <label><b>Fecha de Nacimiento:</b></label>
                    <input type="date" 
                    name="fecha_de_nacimiento" 
                    min="1900-01-01" 
                    class= "<%= locals.errors && errors.fecha_de_nacimiento ? 'is-invalid' : null %>"
                    value= "<%= locals.oldData ? oldData.fecha_de_nacimiento : null %>">
                    <% if (locals.errors && errors.fecha_de_nacimiento) { %>
                        <div class="text-danger">
                            <%= errors.fecha_de_nacimiento.msg %>
                        </div>
                    <% } %>

                    <input type="file" name="avatar">
                    <!-- ESTO DEJO DE FUNCIONAR, REVISAR ACA Y EL MIDDLEWARE REGISTERMIDDLEWARE. -->
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger">
                            <%= errors.avatar.msg %>
                        </div>
                    <% } %>
                
                    <div class="contenedor-boton">
                        <button type="reset">Reiniciar</button>
                        <button type="submit">Enviar</button>
                    </divclass>
                </form>
            </div>
        </div>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>