<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
<<<<<<< HEAD
    <!-- header -->
    <%- include("./partials/headerSimple") %>
    <main>
=======
    <script>
        document.title = 'Administrador | DrinkHouse'
    </script>
    <!-- header -->
    <%- include("./partials/header") %>
    <main class="background-admin">
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f
        <h2>Catálogo de Productos</h2>
        <a id="crear-producto" href="/views/createProducts">Crear Producto +</a>

        <section class="contenedor-articulos-admin">
            <div class="itemizado">
                <div>
                <h3>Categoria</h3>
                </div>
                <div>
                <h3>Marca</h3>
                </div>
                <div>
                <h3>Código</h3>
                </div>
                <div>
                <h3>Stock</h3>
                </div>
                <div>
                <h3>Ver</h3>
                </div>
                <div>
                <h3>Editar</h3>
                </div>
                <div>
                <h3>Eliminar</h3>
                </div>
            </div>

            <% for ( let i = 0; i < arreglo.length; i++ ) { %>
            <div>
                <article>
                    <div class="caja-articulo-admin">
                    <div>
                        <p><%= arreglo[i].categoria %></p>
                    </div>
                    <div>
                        <p><%= arreglo[i].marca %> </p>
                    </div>
                    <div>
                        <p><%= arreglo[i].codigo %></p>
                    </div>
                    <div>
                        <p><%= arreglo[i].stock %> </p>
                    </div>
                    <div>
                        <a href="/views/productDetail/<%= arreglo[i].codigo %>"><i class="far fa-eye"></i></a>
                    </div>
                    <div>
                        <a href="/administrador/<%= arreglo[i].codigo %>/editproducts"><i class="far fa-edit"></i></a>
                    </div>
                    <div>
                        <a href="/administrador/eliminarProduct/<%= arreglo[i].codigo %>"><i class="far fa-trash-alt"></i></i></a>
                    </div>
                    </div>
                </article>
                </a>
            </div>
            <% } %>
        </section>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>