<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <% if (url == 'catalogo') { %>
        <script>document.title = 'Catalogo | DrinkHouse'</script>
    <% } else { %>
        <% const titulo = arreglo[0].categoria.charAt(0).toUpperCase() + arreglo[0].categoria.slice(1) + ' | Drinkhouse'; %> 
        <script>
            document.title =  '<%= titulo %>';
        </script> 
    <% } %>
    <!-- header -->
    <%- include("./partials/header") %>
    <main>
        <div class="contenedor-nav-opciones">
            <h3><a href="/views/product/catalogo">Categorías</a></h3>
            <div class="nav-catalogo">
                <div class="nav-left-catalogo">
                    <a href="/views/product/cerveza"><i class="fas fa-beer"></i>Cervezas</a>
                    <a href="/views/product/whisky"><i class="fas fa-glass-whiskey"></i>Whiskeys</a>
                </div>
                <div class="nav-right-catalogo">
                    <a href="/views/product/licor"><i class="fas fa-glass-martini-alt"></i>Licores</a>
                    <a href="/views/product/vino"><i class="fas fa-wine-glass-alt"></i>Vinos</a>
                </div>
            </div>
        </div>
        <section class="contenedor-articulos">
            <% for ( let i = 0; i < arreglo.length; i++ ) { %>
            <div>
                <a href="/views/productDetail/<%= arreglo[i].codigo %>">
                <article>
                    <img src="<%= arreglo[i].img %>" alt="imagen de articulo">
                    <div class="caja-articulo">
                        <h2> <%= arreglo[i].marca %> </h2>
                        <p> $<%= arreglo[i].precio %> </p>
                        <p> Descuento: <%= arreglo[i].descuento %> % off</p>
                    </div>
                </article>
                </a>
            </div>
            <% } %>
        </section>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>

<!--categoria resume las vistas de product-->