<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>

<body>
<<<<<<< HEAD
    <!-- header -->
    <%- include("./partials/headerSimple") %>
=======
    <script>
        document.title = 'Editar Producto | DrinkHouse'
    </script>
    <!-- header -->
    <%- include("./partials/header") %>
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f
    <main>
        <div class="contenedor-register">
            <form action="/administrador/<%= articulo.codigo %>/editproducts?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <label for="categoria">Categoria</label>
                <input list="categorias" name="categoria" value="<%= articulo.categoria %>">
                <datalist id="categorias">
                  <option value="vino">
                  <option value="whiskey">
                  <option value="cerveza">
                  <option value="licor">
                </datalist>

                <label for="marca">Marca</label>
                <input type="text" name="marca" placeholder="Marca" value="<%= articulo.marca %>">

                <label for="codigo">Código de Producto</label>
                <input type="text" name="codigo" placeholder="Marca" value="<%= articulo.codigo %>" readonly>

                <label for="precio">Precio</label>
                <input type="number" name="precio" placeholder="Precio" value="<%= articulo.precio %>" >

                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" placeholder="Descuento" value="<%= articulo.descuento%>">

                <label for="descripcion">Descripcion</label>
                <input name="descripcion" id="descripcion" value="<%= articulo.descripcion%>">

                <img width="50px" src="<%= articulo.img %>" alt="Imagen Producto" >
                <input type="file" name="imagen"/>
                
                <div class="contenedor-boton">
                <input type="number" name="stock" placeholder="Stock" id="stock" value="<%= articulo.stock %>">

                </div><br>

                <a class="volver-administrador" href="/views/administrador">Volver</a>
                
                <div class="contenedor-boton">
                    <button type ="submit">Guardar</button>
                    <button type ="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>
</body>

<!-- footer -->
<%- include("./partials/footer") %>

</html>