<!-- head -->
<%- include("./partials/head") %>
<body>
<<<<<<< HEAD
    <!-- header -->
    <%- include("./partials/headerSimple") %>
=======
    <script>
        document.title = 'Iniciar Sesion | DrinkHouse'
    </script>
    
    <!-- header -->
    <%- include("./partials/header") %>
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f
    <div class="contenedor-register">
        <h1>Hola!</h1>
        <h3>Bienvenido nuevamente!</h3>
        <div>
<<<<<<< HEAD
            <form action="/login" method="post">
                <label for="email"></label>
                <input type="email" name="email" placeholder="Ingresá tu usuario" id="email" required>
                <label for="password"></label>
                <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="checkbox-recuerdame">
                <label for="Nombre">Recuérdame</label>
                <input type="checkbox" name="nombre" id="nombre" required>
=======
            <form action="/views/login" method="POST">
                <label><b>Ingresá tu usuario</b></label>
                <!-- El campo value con el ternario es necesario para que recuerde el user en caso de errar la contraseña -->
                <input type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>" required> 
                <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                <%= errors.email.msg %>
                </div>
                <% } %>
                <label><b>Ingresá tu Password</b></label>
                <input type="password" name="password" required>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                    <%= errors.password.msg %>
                    </div>
                    <% } %>
            <div class="checkbox-recuerdame">
                <label for="Nombre">Recuérdame</label>
                <input type="checkbox" name="recordar_usuario">
>>>>>>> 12ac4be43f846cc1246d1e9f62c0a725491e4d0f
            </div>
                <a href="/views/login">¿Olvidaste la contraseña?</a>
                <a href="/views/register">¿Todavía no estás registrado?</a>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
    <!-- footer -->
    <%- include("./partials/footer") %>
</body>
</html>