<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <!-- header -->
    <%- include("./partials/header") %>
    <div>
		<div>
			<div>
				<h2>Hola <%= user.nombre %> <%= user.apellido %>!</h2>
				<img src="<%= user.avatar %> ">
				<br>
				<br>
				<div><h2>Usuario: <%= user.email %></h2></div>
				<div><h2>Fecha de Nacimiento: <%= user.fechaDeNacimiento %></h2></div>
				
			</div>
		</div>
	</div>
    
    <!-- footer -->
    <%- include("./partials/footer") %>
</body>
</html>