<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <script>
        document.title = 'Registrate | DrinkHouse'
    </script>
     <!-- header -->
     <%- include("./partials/header") %>
    <main>
        <div class="container-general">
            <div class="contenedor-register">
                <h1>Regístrate</h1>
                <h3>Completá con tus datos!</h3>
                <div>
                    <form action="/views/register" method="POST" enctype="multipart/form-data" class="formRegister">
                        <label><b>Nombre:</b></label>
                        <input type="text" 
                        name="nombre" 
                        class= "<%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.nombre : null %>"
                        id="nombreForm">
                        <section class="erroresNombre"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %>
                            </div>
                        <% } %>
                    
                        <label><b>Apellido:</b></label>
                        <input type="text" 
                        name="apellido" 
                        class= "<%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.apellido : null %>"
                        id="apellidoForm">
                        <section class="erroresApellido"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="text-danger">
                                <%= errors.apellido.msg %>
                            </div>
                        <% } %>

                        <label><b>Email:</b></label>
                        <input type="text" 
                        name="email"
                        class= "<%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.email : null %>"
                        id="usuarioForm">
                        <section class="erroresUsuario"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>

                        <label><b>Password:</b></label>
                        <input type="password" 
                        name="password"
                        class= "<%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        id="passwordForm">
                        <section class="erroresPassword"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                        <label>Mostrar contraseña</label>
                        <input type="checkbox" onclick="mostrarPass()">

                        <label><b>Direccion:</b></label>
                        <input type="text" 
                        name="direccion"
                        class= "<%= locals.errors && errors.direccion ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.direccion : null %>"
                        id="direccionForm">
                        <section class="erroresDireccion"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.direccion) { %>
                            <div class="text-danger">
                                <%= errors.direccion.msg %>
                            </div>
                        <% } %>

                        <label><b>Telefono:</b></label>
                        <input type="text"
                        name="telefono"
                        class= "<%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.telefono : null %>"
                        id="telefonoForm">
                        <section class="erroresTelefono"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.telefono) { %>
                            <div class="text-danger">
                                <%= errors.telefono.msg %>
                            </div>
                        <% } %>

                        <label><b>Fecha de Nacimiento:</b></label>
                        <input type="date" 
                        name="fecha_de_nacimiento" 
                        min="1900-01-01" 
                        class= "<%= locals.errors && errors.fecha_de_nacimiento ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.fecha_de_nacimiento : null %>"
                        id="fechaDeNacimientoForm">
                        <section class="erroresFechaDeNacimiento"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.fecha_de_nacimiento) { %>
                            <div class="text-danger">
                                <%= errors.fecha_de_nacimiento.msg %>
                            </div>
                        <% } %>
                        
                        <!-- en el original estaba sin required -->
                        <input type="file" name="avatar" id="avatarForm">
                        <section class="erroresAvatar"> 
                            <ul>
                            </ul>
                        </section>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    
                        <div class="contenedor-boton">
                            <button type="reset">Reiniciar</button>
                            <button type="submit">Enviar</button>
                        </divclass>
                    </form>
                </div>
            </div>
        </div>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
<script>

    //checkbox Mostrar contraseña
    function mostrarPass() {
        let mostrar = document.querySelector("#passwordForm");
        if(mostrar.type === "password"){
            mostrar.type = "text";
        }else{
            mostrar.type = "password"
        }
    }
    window.addEventListener("load", function(){
    // capturo campos a validar
    let nombreForm= document.querySelector("#nombreForm");
    let apellidoForm= document.querySelector("#apellidoForm");
    let usuarioForm= document.querySelector("#usuarioForm");
    let passwordForm= document.querySelector("#passwordForm");
    let direccionForm= document.querySelector("#direccionForm");
    let telefonoForm= document.querySelector("#telefonoForm");
    let fechaDeNacimientoForm= document.querySelector("#fechaDeNacimientoForm");
    let avatarForm= document.querySelector("#avatarForm");

        nombreForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];

                if(nombreForm.value == ""){
                    errores.push("Debe completar el campo")
                } else if(nombreForm.value.length < 2){
                    errores.push("Mínimo 2 caracteres")
                }
                if (errores.length > 0){           
                    let erroresNombre = document.querySelector(".erroresNombre ul");
                        errores.forEach(error => {
                        erroresNombre.innerHTML = error
                        })
                }
                if (nombreForm.value != "" && nombreForm.value.length > 2){
                     let erroresNombre = document.querySelector(".erroresNombre ul");
                        erroresNombre.innerText = ""
                }
        });

        apellidoForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];

                if(apellidoForm.value == ""){
                    errores.push("Debe completar el campo")
                } else if(apellidoForm.value.length < 2){
                    errores.push("Mínimo 2 caracteres")
                }
                if (errores.length > 0){           
                    let erroresApellido = document.querySelector(".erroresApellido ul");
                        errores.forEach(error => {
                        erroresApellido.innerHTML = error
                        })
                }
                if (apellidoForm.value != "" && apellidoForm.value.length > 2){
                    let erroresApellido = document.querySelector(".erroresApellido ul");
                       erroresApellido.innerText = ""
               }
        })

        usuarioForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];
            const emailValido = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

                if(usuarioForm.value == ""){
                    errores.push("Debe completar el campo")
                } else if(!emailValido.test(usuarioForm.value)){
                    errores.push("Formato de mail inválido")
                }
                if (errores.length > 0){           
                    let erroresUsuario = document.querySelector(".erroresUsuario ul");
                        errores.forEach(error => {
                        erroresUsuario.innerHTML = error
                        })
                }
                if (usuarioForm.value != "" && emailValido.test(usuarioForm.value)){
                    let erroresApellido = document.querySelector(".erroresUsuario ul");
                       erroresApellido.innerText = ""
               }
        })

        passwordForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];

                if(passwordForm.value == ""){
                    errores.push("Debe completar el campo")
                } else if(passwordForm.value.length <= 7){
                    errores.push("Mínimo 7 caracteres")
                }
                if (errores.length > 0){           
                    let erroresPassword= document.querySelector(".erroresPassword ul");
                        errores.forEach(error => {
                        erroresPassword.innerHTML = error
                        })
                }
                if (passwordForm.value != "" && passwordForm.value.length >= 7){
                    let erroresPassword = document.querySelector(".erroresPassword ul");
                       erroresPassword.innerText = ""
               }
        })

        direccionForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];

                if(direccionForm.value == ""){
                    errores.push("Debe completar el campo")
                } 
                if (errores.length > 0){           
                    let erroresDireccion = document.querySelector(".erroresDireccion ul");
                        errores.forEach(error => {
                        erroresDireccion.innerHTML = error
                        })
                }
                if (direccionForm.value != ""){
                    let erroresDireccion = document.querySelector(".erroresDireccion ul");
                       erroresDireccion.innerText = ""
               }
        })

        telefonoForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];

                if(telefonoForm.value == ""){
                    errores.push("Debe completar el campo")
                } 
                if (errores.length > 0){           
                    let erroresTelefono= document.querySelector(".erroresTelefono ul");
                        errores.forEach(error => {
                        erroresTelefono.innerHTML = error
                        })
                }
                if (telefonoForm.value != ""){
                    let erroresTelefono= document.querySelector(".erroresTelefono ul");
                       erroresTelefono.innerText = ""
               }
        })

        fechaDeNacimientoForm.addEventListener("blur", function(evento){
            //capturo errores
            const errores = [];
            // const fechaValida = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[1-9]|2[1-9])$/;

                if(fechaDeNacimientoForm.value == ""){
                    errores.push("Debe completar el campo")
                }
                if (errores.length > 0){           
                    let erroresFechaDeNacimiento= document.querySelector(".erroresFechaDeNacimiento ul");
                        errores.forEach(error => {
                        erroresFechaDeNacimiento.innerHTML = error
                        })
                }
                if (fechaDeNacimientoForm.value != ""){
                    let erroresFechaDeNacimiento= document.querySelector(".erroresFechaDeNacimiento ul");
                       erroresFechaDeNacimiento.innerText = ""
               }
        })

        avatarForm.addEventListener("change", function(evento){
            //capturo errores
            const errores = [];
            const extensionesPermitidas = /(.jpg|.jpeg|.png|.gif)$/i

                if(!extensionesPermitidas.exec(avatarForm.value)){
                    errores.push("Formatos válidos .JPG .JPEG .PNG .GIF")
                }
                if (errores.length > 0){           
                    let erroresAvatar= document.querySelector(".erroresAvatar ul");
                        errores.forEach(error => {
                        erroresAvatar.innerHTML = error
                        })
                }
                if (extensionesPermitidas.exec(avatarForm.value)){
                    let erroresAvatar= document.querySelector(".erroresAvatar ul");
                       erroresAvatar.innerText = ""
               }
        })
    })
    </script>
</html>