<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <!-- header -->
    <%- include("./partials/headerSimple") %>
    <main>
        <h2>Catálogo de Productos</h2>
        <a id="crear-producto" href="/views/createProducts">Crear Producto +</a>

        <section class="contenedor-articulos-admin">
            <% for ( let i = 0; i < arreglo.length; i++ ) { %>
            <div>
                <article>
                    <div class="caja-articulo-admin">
                    <div>
                        <h3>Categoria</h3> 
                        <p><%= arreglo[i].categoria %></p>
                    </div>
                    <div>
                        <h3>Marca</h3>
                        <p><%= arreglo[i].marca %> </p>
                    </div>
                    <div>
                        <h3>Código</h3>
                        <p><%= arreglo[i].codigo %></p>
                    </div>
                    <div>
                        <h3>Stock</h3>
                        <p><%= arreglo[i].stock %> </p>
                    </div>
                    <div>
                        <h3>Ver</h3>
                        <a href="/views/productDetail/<%= arreglo[i].codigo %>"><i class="far fa-eye"></i></a>
                    </div>
                    <div>
                        <h3>Editar</h3>
                        <a href="/views/administrador"><i class="far fa-edit"></i></a>
                    </div>
                    <div>
                        <h3>Eliminar</h3>
                        <a href="/views/administrador"><i class="far fa-trash-alt"></i></i></a>
                    </div>
                    </div>
                </article>
                </a>
            </div>
            <% } %>
        </section>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>