<!DOCTYPE html>
<html lang="es">
<!-- head -->
<head>       
    <script src="/carrusel.js"></script>
    <%- include("./partials/head") %>
</head>
<body>
    <!-- header -->
    <%- include("./partials/header") %>
<main>
    <section class="contenedor">
        <div class="botones-slider">
            <div class="atras">&#60</div>
            <div class="adelante">&#62</div>
        </div>
        <img class="centrar" src="images/img1.PNG" alt="Imagen promo">
    </section>
    <h2>Nuestras categorias</h2>
    <div class="home-catalogo">
        <a class="card" href="/">
            <img class="imagen" src="/images/cerveza.jpg" alt="imagen de articulo">
            <p class="text"> Cerveza </p>
        </a>
        <a class="card" href="/">
            <img class="imagen" src="/images/whisky.jpeg" alt="imagen de articulo">
            <p class="text"> Whisky </p>
        </a>
        <a class="card" href="/">
            <img class="imagen" src="/images/licor.jpg" alt="imagen de articulo">
            <p class="text"> Licor </p>
        </a>
        <a class="card" href="/">
            <img class="imagen" src="/images/vino.jpeg" alt="imagen de articulo">
            <p class="text"> Vino </p>
        </a>
    </div>
    <h2>Mas populares</h2>
    <div class="home-productos-populares-container">
        <% for ( let i = 0; i < arreglo.length; i++ ) { %>
            <div class="home-productos-populares">
                <div>
                    <img class="imagen-producto" src="<%= arreglo[i].img %>" alt="imagen de articulo">
                </div>
                <div>
                    <h3><%= arreglo[i].titulo %></h3>
                </div>
                <div>
                    <p>$<%= arreglo[i].precio %></p>
                </div>
                <!--<button class="button-17" role="button">Agregar al carrito</button>-->
                <div class="carrito">
                    <p><a href="/" id="carro"><i class="fas fa-shopping-basket"></i>Agregar al carrito</a></p>
                </div>
            </div>
        <% } %>
    </div>
<!-- logo whatsapp -->
    <a class="fab fa-whatsapp" href="https://wa.me/34555005500/?text=tu%20texto%20personalizado" target="_blank"></a>
</main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>