<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("./partials/head") %>
<body>
    <script>
        document.title = 'Administrador | DrinkHouse'
    </script>
    <!-- header -->
    <%- include("./partials/header") %>
    <main class="background-admin">
        <h2>Usuarios Registrados</h2>
        <a id="crear-producto" href="/views/usuarios">Editar/Eliminar Usuarios</a>
        <h2>Catálogo de Productos</h2>
        <a id="crear-producto" href="/views/createProducts">Crear Producto +</a>
        <section class="contenedor-articulos-admin">
            <% for ( let i = 0; i < productos.length; i++ ) { %>
            <div class="admin-detail-container">
                <div class="admin-product-image">
                    <img src="<%=productos[i].imagen_producto%>" alt="<%= productos[i].marca %>">
                </div>
                <div class="admin-detail-text">
                    <h4>Categoria</h4>
                    <p><%= productos[i].Categoria.nombre %></p>
                    <h4>Marca</h4>
                    <p><%= productos[i].marca %> </p>
                    <h4>Código</h4>
                    <p><%= productos[i].id_producto %></p>
                    <h4>Stock</h4>
                    <p><%= productos[i].stock %> </p>
                </div>
                <div class="button-edit">
                    <a href="/administrador/<%= productos[i].id_producto %>/editproducts"><i class="far fa-edit"></i></a>
                </div>
                <div class="button-detail">
                    <a>
                        <form action="/administrador/borrar/<%= productos[i].id_producto%>" method="POST">
                            <button>Eliminar</i></button>
                        </form>
                    </a>
                </div>
            </div>
            <% } %>
        </section>
    </main>
<!-- footer -->
<%- include("./partials/footer") %>
</body>
</html>